body{
    margin: 0;
    padding: 0;
}
.container{
    min-height: 100vh;
    /* max-width: 800px; */
    display: flex;
    justify-content: center;
    margin-top: 100px;
    /* align-items: center; */
    grid-gap: 160px;
    animation: fadeIn 5s ease-in-out;

}
.sub-container{
    max-width: 300px;
}
.sub-container img{
    max-height: 500px;
    transition: .5s;
    animation: bounce 1s infinite alternate;
    overflow: hidden;

}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes bounce {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20px);
    }
  }
.sub-container img:hover {
    transform: scale(1.2);
}
.heading{
    font-size: 4rem;
    max-width: 280px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: .7;
}

@media screen and (max-width: 760px) {
  .container{
    display: flex;
    flex-direction: column;
  }
  .sub-container img{
    min-height: 150px;
  }
}